*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra-home{
    display: flex;
    
    justify-content: space-between;
    position: relative;
    background-color: black;
    color: white;
}
.barra{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    position: relative;
    right: 40px;
    margin-left: 60px;
}
.search{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.ofertas{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: stretch;

}
.home-nav{
    background-color: black;
}

.carrito {
    text-align: center;
    margin: auto;
    max-width: 700px;
}

.total-pago {
    background-color: #eaeaea;
}

.botones-carrito {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.botones-carrito button {
    width: 100%;
    margin: 10px;
    padding: 15px;
    background-color: #4f0074;
    color: #ffffff;
    border-radius: 8px;
    border: none;
}

.botones-carrito button:hover {
    cursor: pointer;
    background-color: #a000df;
    
}

h1 {
    display: block;
    font-size: 50px;
    padding: 20px;
}

h2 {
    margin: 15px;
    font-size: 30px;
}

h3 {
    margin-top: 30px;
    padding: 15px;
    font-size: 25px;
}

.total{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}

/* FOOTER */

.footer-nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
 
}

.terminos{
    display: flex;
    
}
.barras-footer{
    display: flex;
    justify-content: space-around;
}
.barra-teclados{
    display: flex;
    flex-direction: column;
}
.barra-mouses{
    display: flex;
    flex-direction: column;
}
.barra-auriculares{
    display: flex;
    flex-direction: column;
}