/* HEADEAR */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor3{
    display: flex;
    /* width: 100%; */
    border: 1px solid magenta;
    box-sizing: content-box;
}

.logo{
    width: 150px;
    margin-left: 20px;
}

.caja-logo{
    background-color: black;
    
}

.login-nav{
    display: flex;
    align-items: center;

}

.login-nav li{
    list-style: none;
}

.barra-home{
    background-color: black;
    color: white;
	/* width: 100%; */
    display: flex;
    border: 1px solid yellow;
}



.barra{
	list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    /* border: 1px solid pink; */
}

.barra li {
	
	padding: 6px;
    border-right: 1px solid #551a8b;
}


.barra li a {
	font-size: 20px;
	text-transform: uppercase;

}

.search{
    width: 200px;
    height: 25px;
}

.fa-search{
    
    height: 25px;
}

.btn-search{
    height: 25px;
    width: 25px;
}



@media (max-width: 375px) {

}

