* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  /* background: linear-gradient(to bottom, #c100ff36, black 80%, #000000);#00ffe7 */
  background: linear-gradient(to bottom, #c100ff36,black 95% );
}

/* HEADER  */

.barra-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100px;
  position: relative;
  border-bottom: 1px solid #00fff6;
}

.logo {
  height: 85px;
  margin: 10px;
}

.search input {
  width: 70%;
}

.btn-search i {
  padding: 2px;
}

.login-nav {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-around;
}

.icons-nav ul li i {
  color: white;
  margin: 5px;
}

.links {
  display: none;
  font-family: 'Chakra Petch', sans-serif;
}

.links a {
  text-decoration: none;
  color: #9af8f3;
}

.links a i {
  position: absolute;
}

.links a:hover {
  text-decoration: underline;
}

.ver-productos {
  color: #9af8f3;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
}

.btn-precio a {
  text-decoration: none;
  color: #9af8f3;
}

/* SLIDESHOW HOME BANNER */

.img-banner {
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;

  background-color: black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.img-flex {
  display: flex;
  width: 100%;
}

.imagen-5,
.imagen-6 {
  position: relative;
  width: 50%;
  margin-top: -21px;
}

.ver-prod {
  position: absolute;
  padding: 10px 8px;
  left: 131px;
  bottom: 393px;
  font-size: 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #383e44;
  background: -moz-linear-gradient(top, #a5d3e6 0%, #6084a2 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f3fafb),
    color-stop(100%, #8caac33b)
  );
  box-shadow: inset 0px 0px 6px #fff;
  -webkit-box-shadow: inset 0px 0px 6px #616161;
  border: 1px solid #9af8f3;
  border-radius: 10px;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* CONTACTO */


.section {
  position: relative;
  width: 900px;
  max-width: 80%;
  border: 2px solid #333;
  border-top: none;
  text-align: center;
  margin: 60px auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

.section h1 {
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
}

.top-border{
  position: absolute;
  height: 2px;
  width: 24%;
  background-color: #333;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

@media (max-width: 685px) {
.top-border {	
  width: 18%;
    }
}

.section p {
  width: 61%;
  margin: 20px auto 40px auto;
  line-height: 30px;
}

.section a {
  outline: 0;
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  width: 440px;
  max-width: 80%;
  background-color: #333;
  color: #fff;
  font-size: 22px;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.section a:hover {
  background-color: #1D222D;
}

.section a:link, .section a:visited, .section a:link:hover, .section a:visited:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 500px) {
  .top-border {	
    display: none;
  }
  .section {
  border-top: 2px solid #333;
  }
  .section h1 {
    margin: 20px 6px;
  }
}

@media screen and (min-width: 425px) {
  .ver-prod {
    left: 158px;
    bottom: 360px;
  }
}

/* PROFILE */

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background: linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
        width: 100%;
    position: relative;
    border-radius: 50%;
    height: 100%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body,.nombre-perfil {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.seccion-perfil-usuario .perfil-usuario-body,.nombre-perfil h1 {
  margin: 8px;
}


.seccion-perfil-usuario .perfil-usuario-body .email-perfil {
    color: #000000;
    width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background: linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 15px;
    width: 100%;
}



.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
    background: linear-gradient(45deg, #BC3CFF, #317FFF);
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}


@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

}

.pago {
  height: 114px;
}

.brandimg {
  height: 150px;
  margin: 100px;
}

.brandsbox {
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.brandsbox img {
  height: auto;
  width: auto;
  max-height: 220px;
  max-width: 220px;
}

/* LOGIN */

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Mono";
  padding: 25px 25px 25px;
  background: #fff;
  font-size: 15px;
  max-width: 375px;
  margin: 0 auto;
  height: auto;
}

.correo-input {
  background: #f5f5f5;
  font-size: 0.8rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  padding: 13px 10px;
  width: 330px;
  margin-bottom: 20px;
  box-shadow: inset 0px 2px 3px rgb(0 0 0 / 10%);
  clear: both;
}

.btn-cuadrado {
  width: 100%;
  margin-top: 26px;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  /* text-decoration: none; */
  background: -moz-linear-gradient(top, #b9c5dd 0%, #a4b0cb);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#766284),
    to(#53cccb)
  );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #64657b;
  -moz-box-shadow: 0px 5px 5px rgba(000, 000, 000, 0.1),
    inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 5px 5px rgb(0 0 0 / 10%),
    inset 0px 1px 0px rgb(255 255 255 / 50%);
  box-shadow: 0px 5px 5px rgb(0 0 0 / 10%),
    inset 0px 1px 0px rgb(255 255 255 / 50%);
  text-shadow: 0px 1px 3px rgb(0 0 0 / 30%), 0px 0px 0px rgb(255 255 255 / 0%);
}

.remember-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password {
  margin-top: 30px;
}

.forgot-password a {
  color: #ab5ce4;
}

.register {
  margin-top: 20px;
  text-align: center;
}

.auris {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #c100ff36, black 80%, #00ffe7);
}

.auris-img {
  border-radius: 50%;
  border: 10px solid black;
}

.auris-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.titulo-login {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

/* FOOTER */

.contenedor4 {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  height: 200px;
  justify-content: space-between;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.checkbox p {
  margin-left: 5px;
}

.barra-terminos {
  margin-left: 10px;
  font-size: 10px;
}

.barra-terminos-p {
  margin-bottom: 10px;
}

.barras-footer {
  display: none;
}

.barras-footer a {
  display: flex;
  color: #9af8f3;
}

.barras-footer p {
  font-size: 18px;
}

.barra-mouses,
.barra-teclados,
.barra-auriculares {
  margin-right: 50px;
}

.redes-sociales {
  font-size: 16px;
  padding: 20px;
  margin-right: 22px;
}

.iconos-redes {
  display: flex;
  justify-content: space-between;
  color: #9af8f3;
}

/* FORMULARIO AGRGAR PRODUCTO  */

.agregar-titulo {
  font-size: 28px;
  text-align: center;
  margin-bottom: 31px;
}

.agregarProducto {
  margin-bottom: 15px;
}

.agregar_input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
}

.IS {
  text-align: center;
}

.agregar_button {
  height: 29px;
  width: 91px;
  border-radius: 21px;
  border: 1px solid grey;
  background-color: #9af8f3;
}

.textarea {
  height: 50px;
}

.margin-top {
  margin-top: 34px;
  border-bottom: 1px solid black;
}

/* Listado de productos  */

.titulo-listado-productos {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  background-color:grey;
  color: white;
}

.container-products {
  width: 90%;
  display: flex;
  margin-bottom: 100px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 5%;
}

.prod-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  border: 1px solid black;
  background: linear-gradient(to bottom, #c100ff36, black 80%);
  border-radius: 2%;
  padding: 10px;
}


.prod-precio {
  flex-grow: 3;
  font-size: 25px;
}

.prod-descripcion {
  display: none;

}

.contenedor-nombre{
  width: 320px;
  height: 100px;
  align-items: center;
}

.prod-contenedor h3 {
  margin: 18px;
    color: black;
    font-size: 17px;
  text-align: center;
}



.btn-animado {
  display: inline-block;
  
  border-radius: 9px;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, .15);
  background-color: black;
  border: 2px solid #31fffa;
  color: #31fbff;
  cursor: pointer;
  transition: all ease-in 150ms;
  overflow: hidden;
  padding: 10px 40px;
  margin-top: 40px;
  margin: 20px;
}

.btn-animado i {
  display: none;
}
.btn-animado:hover {
  background-color: #31e7ff;
  color: #fff;
}
.btn-animado:active {
  background-color: #31c5ff;
}

.btn-precio {
  display: flex;

}

@media (min-width: 340px) {

.img-producto {
  height: 250px;
  border-radius: 6px;
}
}



/* 
 PRODUCT DETAIL */
.detalle_producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
  background-color: #ebe5e594;
  margin: 0 auto;
  padding: 19px;
}

.detail_img {
  height: 173px;
  border-radius: 20px;
}

.detail_margin {
  margin-bottom: 40px;
}

.detail_name{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
}

.descripcion {
  display: flex;
  flex-direction: column;
}

.allcategories {
  display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-image: url(../img/mujer.jpg);
    height: 170px;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    align-items: center;
    width: 100%;
    background-color: black;
 }
 .allcategories li i {
  color: #979797;
   font-size: 50px;
 }

 .allcategories li h4 {
  color: #979797;
   font-size: 15px;
 }
 .listacategories:hover i , .listacategories:hover h4 {
   color: #fff;
   cursor: pointer;
 }

@media screen and (min-width: 768px) {
  .ver-prod {
    left: 327px;
    bottom: 110px;
  }
  .login-nav {
    font-size: 20px;
    margin-right: 12px;
  }
  
  .content-detail {
    margin-left: 20px;
  }
  .detail_img {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .ver-prod {
    left: 446px;
    bottom: -53px;
    font-size: 11px;
  }
  .login-nav {
    font-size: 20px;
    margin-right: 12px;
  }
  .barras-footer {
    display: flex;
    font-size: 11px;
    align-items: flex-start;
    align-content: center;
  }
  .bara-footer p {
    font-size: 14px;
  }
  .barras-footer a {
    text-decoration: none;
  }
  .redes-sociales {
    font-size: 18px;
    padding: 0px;
    margin-right: 25px;
  }
  .search input {
    display: none;
  }
  .links {
    display: inline-flex;
    font-family: 'Chakra Petch', sans-serif;
    width: 55%;
    justify-content: space-between;
  }
  .links a {
    font-size: 20px;
  }
  .ver-productos , .fa-bars , .btn-search {
    display: none;
  }
  .icons-nav ul li i {
    color: white;
    margin: 5px;
    font-size: 27px;
 }
 

  
}

@media screen and (min-width: 1440px) {
  .ver-prod {
    left: 644px;
    bottom: -331px;
    font-size: 14px;
  }
  .logo {
    height: 95px;
    margin-left: 28px;
  }
  .barras-footer {
    font-size: 14px;
  }
}

@media screen and (min-width: 1500px) {
  .ver-prod {
    display: none;
  }

  
}

@media all and (max-width: 425px){
  .links a {
    font-size: 12px;
  }
}