<html>

<%- include("./partials/head.ejs")%>

<body>
    <%- include("./partials/header.ejs") %>

    <div class="brandsbox">
    
    <img class="brandimg" src="/img/asus.png" alt="">
    <img class="brandimg" src="/img/redragon.png" alt="">
    <img class="brandimg" src="/img/hyper-x-logo.png" alt="">
    <img class="brandimg" src="/img/logitech.png" alt="">
    <img class="brandimg" src="/img/corsair.png" alt="">
    <img class="brandimg" src="/img/razer.png" alt="">
    <img class="brandimg" src="/img/pngegg.png" alt="">
    <img class="brandimg" src="/img/872340.png" alt="">
</div>

    <%- include("./partials/footer.ejs") %>

</body>
</html>