<html>

<%- include("./partials/head.ejs")%>

<body>
    <%- include("./partials/header.ejs") %>

    <div class="brandsbox">
    
    <img class="brandimg" src="/img/asus.png" alt="">
    <img class="brandimg" src="/img/redragon.png" alt="">
    <img class="brandimg" src="/img/razer.svg" alt="">
    <img class="brandimg" src="/img/redragon.png" alt="">
    <img class="brandimg" src="/img/gamer.jpg" alt="">
    <img class="brandimg" src="/img/gaming.jpg" alt="">
    <img class="brandimg" src="/img/skull.jpg" alt="">
    <img class="brandimg" src="/img/zone.jpg" alt="">
</div>

    <%- include("./partials/footer.ejs") %>

</body>
</html>