<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
<body>
    <%- include("./partials/header.ejs")%>
    <div class="section">
        <div class="top-border left"></div>
        <div class="top-border right"></div>
        <h1>CONTACTANOS</h1>
        <p>Chatea
            De 9:00 a. M. A 6:00 p. M. CET, los 7 días de la semana</p>
          <a href="#">CHAT</a>
      </div>


      <%- include("./partials/footer.ejs") %>

</body>
</html>