<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head.ejs")%>

  <body>

    <%- include("./partials/header.ejs") %>

    <div class="ofertas">
      <img class="imagen-1" src="/img/hyperx.jpg" alt="hyperx" />
      <img class="imagen-2" src="/img/astro.jpg" alt="hyperx" />
      <img class="imagen-3" src="/img/redragon.jpg" alt="hyperx" />
      <img class="imagen-4" src="/img/logitech.jpg" alt="hyperx" />
      <div class="img-flex">
      <img class="imagen-5" src="/img/asus.jpg" alt="hyperx" />
      <img class="imagen-6" src="/img/turtle.jpg" alt="hyperx" />
     </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
