<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head.ejs")%>

  <body>

    <%- include("./partials/header.ejs") %>

    <div class="ofertas">
      <figure><img src="/img/hyperx.jpg" alt="hyperx" /></figure>
      <figure><img src="/img/astro.jpg" alt="hyperx" /></figure>
      <figure><img src="/img/redragon.jpg" alt="hyperx" /></figure>
      <figure><img src="/img/logitech.jpg" alt="hyperx" /></figure>
      <figure><img src="/img/asus.jpg" alt="hyperx" /></figure>
      <figure><img src="/img/turtle.jpg" alt="hyperx" /></figure>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
