<html>

    <%- include("./partials/head.ejs")%>

<body>

    <%- include("./partials/header.ejs") %>

    <div id="container-login">
        <div id="title">
            <i class="material-icons lock">Formulario de Login</i> 
        </div>

        <form>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Correo electrónico</i>
                </div>
                <input id="Correo electrónico" name="email" placeholder="Correo electrónico" type="text" required class="validate" autocomplete="off">
            </div>

            <% if (locals.errors && errors.email) { %> 
                <div class="text-danger">
                    <% errors.email.msg %> 
                </div>
           <% } %>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Contraseña</i>
                </div>
                <input id="contraseña" name="password" placeholder="contraseña" type="password" required class="validate" autocomplete="off">
            </div>

            <div class="remember-me">
                <input type="checkbox" name="remember_user">
                <p>Recordarme</p>
                    
            </div>

            <input type="submit" value="Entrar" />
        </form>

        <div class="forgot-password">
            <a href="#">Forgot your password?</a>
        </div>
        <div class="privacy">
            <a href="#">Privacy Policy</a>
        </div>

        <div class="register">
            Don't have an account yet?
            <a href="#"><button id="register-link">Register here</button></a>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>

</body>

</html>