<html>

    <%- include("./partials/head.ejs")%>

<body>

    <%- include("./partials/header.ejs") %>

    <div class="container-login">

        <h1 class="titulo-login">Iniciar Sesión</h1> 


        <form method="POST" action="" id="log">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Correo electrónico</i>
                </div>
                <input class="correo-input" id="email" name="email" placeholder="Correo electrónico" type="text" required class="validate" autocomplete="off">
            </div>

            <% if (locals.errors && errors.email) { %> 
                <div class="text-danger">
                    <% errors.email.msg %> 
                </div>
           <% } %>


            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Contraseña</i>
                </div>
                <input class="correo-input" id="contraseña" name="password" placeholder="contraseña" type="password" required class="validate" autocomplete="off">
            </div>

            <div class="remember-me">
                <input type="checkbox" name="remember_user">
                <p>Recordarme</p>

            </div>

            <button class="btn-cuadrado" type="submit">Ingresar</button>
        </form>

        <div class="forgot-password">
            <a href="#">Olvidaste tu contraseña?</a>
        </div>


        <div class="register">
            <h4>Todavía no tienes una cuenta?</h4>
            <a href="/user/register"><button class="btn-cuadrado" id="register-link">Registrate</button></a>
        </div>
    </div>
    <script src="/public/js/login.js"></script>

    <%- include("./partials/footer.ejs") %>

</body>

</html>