<html lang="en">

    <%- include("./partials/head.ejs" )%>

<body>

<%- include("./partials/header.ejs") %>

    <div class="container-login">
        <form id="agregar2" class="agregarform" method="POST" action="" enctype="multipart/form-data">
            <h1 class="agregar-titulo">Agregar producto</h1>
            <div class="agregarProducto">
                <div class="errores">
                    <ul id="errores">
                    </ul>
                </div>
                <label class="label" for="nombre">Nombre:</label>
                <br>
                <input class="correo-input" id="nombre" placeholder="Nombre del producto"  type="text" name="nombre"> 
            </div>
            <div class="agregarProducto">
                <label class="label" for="descripcion">Descripción:</label>
                <br>
                <textarea class="correo-input textarea" name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripcion del producto"></textarea>
            </div>
            <div class="agregarProducto">
                <label class="label"for="imagen">Imágen:</label>
                <br>
                <input class="correo-input" id="imagen" placeholder="Imagen del producto" type="file" name="imagen" multiple>
            </div>
            <div class="agregarProducto">
                <label class="label" for="color">Selecciona un color:</label>
                <br>
                <select name="color" type="Seleccionar un Color">
                    <option value="negro">Negro</option>
                    <option value="azul">Azul</option>
                    <option value="rojo">Rojo</option>
    
                </select>
            </div>
            
            <div class="agregarProducto">
                <label class="label" for="category">Selecciona una categoria:</label>
                <br>
                <select name="category" type="Seleccionar una Categoria">
                    <option value="auriculares">Auriculaes</option>
                    <option value="inalabricos">Inalámbricos</option>
                </select>
            </div>
            <div class="agregarProducto">
                <label class="label" for="precio">Precio:</label>
                <br>
                <input class="correo-input" id="precio" placeholder="Precio del producto" type="number" name="precio">
            </div>
            <div class="IS">
                <button class="btn-cuadrado" type="submit">Guardar</button>
                
            </div>
       
        </form>
    </div>

    <%- include("./partials/footer.ejs") %>
    
</body>
</html>