<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Detalle De Producto</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link href="/css/details.css" rel="stylesheet" />
    <link href="/css/fonts.css" rel="stylesheet" />
  </head>
  <body>
      <header>
    <nav class="barra-home">
        <div class="logo"><figure><img width="185" src="/img/logo.png" alt="logo"></figure></div>
        <ul class="barra">
            <a href="">Productos  |   </a>
            <a href="">Descargas  |   </a>
            <a href="">Marcas  |   </a>
            <a href="">Contacto  |   </a>
            <a href="">Ayuda  |   </a>

        </ul>
        <ul class="search">
        <p id="barrabusqueda">
            <label>    </label>
            <input type="search" name="search">
            <button type="submit"><i class="fas fa-search"></i></button>
        </p>

        <a href=""><i class="fas fa-shopping-cart"></i></a>
        <a href=""><i class="fas fa-user"></i></a>
        </ul>
    </nav>
    </header>
    <main>
    <h1>Detalle de Producto</h1>
    <div class="descripcion">
    <div>
        <img src="/img/astro.jpg" alt="">
    </div>
    <div>
  <h2>Descripción</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, officia.</p>
  <p>$5000</p>
  <p>20% OFF</p>
  <p>12 Cuotas sin interes</p>
  <p>Cantidad</p>
  <button type="submit">Comprar</button>
  <button type="button"> <i class="fas fa-shopping-cart"></i> </button>
</div>
</div>
    </main>
    
    <footer>
      <nav class="footer-nav">
        <div class="barra-terminos">
        <p>Suscribete para recibir mas noticias de la marca</p>
        <input type="email" name="email" />
            <button type="submit">REGISTRARSE</i></button>

         <div class="terminos">  
        <input type="checkbox" name="terminos" /> 
        <label>Acepto las Politicas de Privacidad</label>
      </div> 
    </div>
      <div class="barras-footer">
      <ul class="barra-mouses">
        <p>Mouses</p>
        <a href="">Asus  </a>
        <a href="">Hyperx  </a>
        <a href="">Logitech </a>
        <a href="">Redragon  </a>
        <a href="">Corsair  </a>
      </ul>
      <ul class="barra-teclados">
        <p>Teclados</p>
        <a href="">Asus  </a>
        <a href="">Hyperx  </a>
        <a href="">Logitech </a>
        <a href="">Redragon  </a>
        <a href="">Corsair  </a>
      </ul>
      <ul class="barra-auriculares">
        <p>Auriculares</p>
        <a href="">Asus  </a>
        <a href="">Hyperx  </a>
        <a href="">Logitech </a>
        <a href="">Redragon  </a>
        <a href="">Corsair  </a>
        <a href="">Turtle Beach  </a>
        <a href="">Astro </a>
      </ul>
    </div>
    <div class="redes-sociales">
    <p>Redes Sociales</p>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
  </div>
      </nav>
    </footer>

  </body>
</html>
