<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head.ejs")%>

  <body>

    <%- include("./partials/header.ejs") %>

    <main class="detalle_producto">
    <h1 class="agregar-titulo">Detalle de Producto</h1>
    <div class="descripcion">
    <div>
        <img class="detail_img" src="/img/astro.jpg" alt="">
    </div>
    <div class="content-detail">
  <h2 class="agregar-titulo">Descripción</h2>
  <div>
  <p class="detail_margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, officia.</p>
  <p class="detail_margin">$5000</p>
  <p class="detail_margin">20% OFF</p>
  <p class="detail_margin">12 Cuotas sin interes</p>
  <p class="detail_margin">Cantidad</p>
</div>
  <button class="agregar_button" type="submit">Comprar <i class="fas fa-shopping-cart"></i> </button>
</div>
</div>
    </main>

    <%- include("./partials/footer.ejs") %>

  </body>
</html>
