<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head.ejs")%>


  <body>

    <%- include("./partials/header.ejs") %>

    <main>
        <div class="carrito">
      <h1>Carrito De Compras</h1>

      <h2>No hay producots agregados</h2>

      <div class="total-pago">
        <h3>Resumen de Compras</h3>

        <div class="total">
          <p>Total</p>
          <p>0%</p>
        </div>

        <div class="botones-carrito">
          <button type="submit">Iniciar Pago</button>
          <button type="submit">Vaciar Carrito</button>
          <button type="submit">Agregar más productos</button>
        </div>
      </div>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>

  </body>
</html>
