<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>JML</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <link href="/css/cart.css" rel="stylesheet" />
    <link href="/css/fonts.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="barra-home">
        <div class="logo">
          <figure>
            <img width="185" src="/img/logo.png" alt="logo" />
          </figure>
        </div>
        <ul class="barra">
          <a href="">Productos | </a>
          <a href="">Descargas | </a>
          <a href="">Marcas | </a>
          <a href="">Contacto | </a>
          <a href="">Ayuda | </a>
        </ul>
        <ul class="search">
          <p id="barrabusqueda">
            <label> </label>
            <input type="search" name="search" />
            <button type="submit"><i class="fas fa-search"></i></button>
          </p>

          <a href=""><i class="fas fa-shopping-cart"></i></a>
          <a href=""><i class="fas fa-user"></i></a>
        </ul>
      </nav>
    </header>

    <main>
        <div class="carrito">
      <h1>Carrito De Compras</h1>

      <h2>No hay producots agregados</h2>

      <div class="total-pago">
        <h3>Resumen de Compras</h3>

        <div class="total">
          <p>Total</p>
          <p>0%</p>
        </div>

        <div class="botones-carrito">
          <button type="submit">Iniciar Pago</button>
          <button type="submit">Vaciar Carrito</button>
          <button type="submit">Agregar más productos</button>
        </div>
      </div>
      </div>
    </main>

    <footer>
      <nav class="footer-nav">
        <div class="barra-terminos">
        <p>Suscribete para recibir mas noticias de la marca</p>
        <input type="email" name="email" />
            <button type="submit">REGISTRARSE</i></button>

         <div class="terminos">  
        <input type="checkbox" name="terminos" /> 
        <label>Acepto las Politicas de Privacidad</label>
      </div> 
    </div>
      <div class="barras-footer">
      <ul class="barra-mouses">
        <p>Mouses</p>
        <a href="">Asus  </a>
        <a href="">Hyperx  </a>
        <a href="">Logitech </a>
        <a href="">Redragon  </a>
        <a href="">Corsair  </a>
      </ul>
      <ul class="barra-teclados">
        <p>Teclados</p>
        <a href="">Asus  </a>
        <a href="">Hyperx  </a>
        <a href="">Logitech </a>
        <a href="">Redragon  </a>
        <a href="">Corsair  </a>
      </ul>
      <ul class="barra-auriculares">
        <p>Auriculares</p>
        <a href="">Asus  </a>
        <a href="">Hyperx  </a>
        <a href="">Logitech </a>
        <a href="">Redragon  </a>
        <a href="">Corsair  </a>
        <a href="">Turtle Beach  </a>
        <a href="">Astro </a>
      </ul>
    </div>
    <div class="redes-sociales">
    <p>Redes Sociales</p>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
    <i class="fas fa-circle"></i>
  </div>
      </nav>
    </footer>

  </body>
</html>
