<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head.ejs"%>

  <body>

    <%- include("./partials/header.ejs") %>

    <main>
    <h1>Detalle de Producto</h1>
    <div class="descripcion">
    <div>
        <img src="/img/astro.jpg" alt="">
    </div>
    <div>
  <h2>Descripción</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, officia.</p>
  <p>$5000</p>
  <p>20% OFF</p>
  <p>12 Cuotas sin interes</p>
  <p>Cantidad</p>
  <button type="submit">Comprar</button>
  <button type="button"> <i class="fas fa-shopping-cart"></i> </button>
</div>
</div>
    </main>
    
    <%- include("./partials/footer.ejs") %>

  </body>
</html>
