<html>

    <%- include("./partials/head.ejs")%>

<body>

    <%- include("./partials/header.ejs") %>

    <div id="container-register">
        <div id="title">
            <i class="material-icons lock">lock</i> Register
        </div>

        <form method="POST" enctype="multipart/form-data" action="">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">email</i>
                </div>
                <input name="email" id="email" placeholder="Email" type="email" required class="validate" autocomplete="off">
                 


            </div>


            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Nombre</i>
                </div>
                <input name="name" id="name" placeholder="Name" type="text" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Apellido</i>
                </div>
                <input name="lastName" id="lastName" placeholder="LastName" type="text" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Contraseña</i>
                </div>
                <input name="password" id="password" placeholder="Password" type="password" required class="validate" autocomplete="off">
            </div>
            <label>Seleccione avatar</label>
            <div class="avatar">
                <input type="file" name="avatar" accept=".jpg" multiple>
            </div>
            <div class="remember-me">
                <input type="checkbox">
                <span style="color: #DDD">I accept Terms of Service</span>
            </div>

            <input type="submit" value="Register" />
        </form>

        <div class="privacy">
            <a href="#">Privacy Policy</a>
        </div>

        <div class="register">
            Do you already have an account?
            <a href="#"><button id="register-link">Log In here</button></a>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>

</body>

</html>