<html>
  <%- include("./partials/head.ejs")%>

  <body>
    <%- include("./partials/header.ejs") %>

    <div class="container-login" id="container-register">
      <h1 class="titulo-login">Registrate</h1>

      <form method="POST" enctype="multipart/form-data" action="/user/register" id="register">
        <div class="input">
            <label>Email</label>
          <input
            class="correo-input"
            name="email"
            id="email"
            placeholder="Email"
            type="email"
            required
            class="validate"
            autocomplete="off"
          />
        </div>

        <div class="input">
          
            <label>Nombre</label>
         
          <input
            class="correo-input"
            name="name"
            id="name"
            placeholder="Name"
            type="text"
            required
            class="validate"
            autocomplete="off"
          />
        </div>

        <div class="input">
          
            <label>Apellido</label>
         
          <input
            class="correo-input"
            name="last_name"
            id="lastName"
            placeholder="LastName"
            type="text"
            required
            class="validate"
            autocomplete="off"
          />
        </div>


        <div class="input">
         
            <label>Contraseña</label>
         
          <input
            class="correo-input"
            name="password"
            id="password"
            placeholder="Password"
            type="password"
            required
            class="validate"
            autocomplete="off"
          />
        </div>

        
        <div class="avatar">
            <label>Seleccione avatar</label>
          <input
            class="correo-input"
            type="file"
            name="avatar"
            accept=".jpg"
            multiple
          />
        </div>

        <button class="btn-cuadrado" type="submit">Registrarse</button>
      </form>

      <div class="register">
        <h4>Ya tienes una cuenta?</h4>
        <a href="/user/login"
          ><button class="btn-cuadrado" id="register-link">
            Inicia sesión Aquí
          </button></a
        >
      </div>
    </div>
    <script src="/public/js/validator.js"></script>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>