<footer>
    <nav class="footer-nav">
      <div class="barra-terminos">
      <p>Suscribete para recibir mas noticias de la marca</p>
      <input type="email" name="email" />
          <button type="submit">REGISTRARSE</i></button>

       <div class="terminos">  
      <input type="checkbox" name="terminos" /> 
      <label>Acepto las Politicas de Privacidad</label>
    </div> 
  </div>
    <div class="barras-footer">
    <ul class="barra-mouses">
      <p>Mouses</p>
      <a href="">Asus  </a>
      <a href="">Hyperx  </a>
      <a href="">Logitech </a>
      <a href="">Redragon  </a>
      <a href="">Corsair  </a>
    </ul>
    <ul class="barra-teclados">
      <p>Teclados</p>
      <a href="">Asus  </a>
      <a href="">Hyperx  </a>
      <a href="">Logitech </a>
      <a href="">Redragon  </a>
      <a href="">Corsair  </a>
    </ul>
    <ul class="barra-auriculares">
      <p>Auriculares</p>
      <a href="">Asus  </a>
      <a href="">Hyperx  </a>
      <a href="">Logitech </a>
      <a href="">Redragon  </a>
      <a href="">Corsair  </a>
      <a href="">Turtle Beach  </a>
      <a href="">Astro </a>
    </ul>
  </div>
  <div class="redes-sociales">
  <p>Redes Sociales</p>
  <i class="fas fa-circle"></i>
  <i class="fas fa-circle"></i>
  <i class="fas fa-circle"></i>
  <i class="fas fa-circle"></i>
  <i class="fas fa-circle"></i>
</div>
    </nav>
  </footer>