<footer>
  <div class="contenedor4">
    <div class="barra-terminos">
      <p class="barra-terminos-p">Suscribete para recibir mas noticias de la marca</p>
      <input type="email" name="email" />
      <button type="submit">REGISTRARSE</button>
      <div class="checkbox">
        <input type="checkbox" name="terminos" />
        <p>Acepto las Politicas de Privacidad</p>
      </div>
    </div>

    <div class="barras-footer">
      <ul class="barra-mouses">
        <p>Mouses</p>
        <a href="">Asus </a>
        <a href="">Hyperx </a>
        <a href="">Logitech </a>
        <a href="">Redragon </a>
        <a href="">Corsair </a>
      </ul>
      <ul class="barra-teclados">
        <p>Teclados</p>
        <a href="">Asus </a>
        <a href="">Hyperx </a>
        <a href="">Logitech </a>
        <a href="">Redragon </a>
        <a href="">Corsair </a>
      </ul>
      <ul class="barra-auriculares">
        <p>Auriculares</p>
        <a href="">Asus </a>
        <a href="">Hyperx </a>
        <a href="">Logitech </a>
        <a href="">Redragon </a>
        <a href="">Corsair </a>
        <a href="">Turtle Beach </a>
        <a href="">Astro </a>
      </ul>
    </div>
    <div class="redes-sociales">
      <p>Redes Sociales</p>
      <div class="iconos-redes">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>
     </div>
    </div>
  </div>
</footer>