<header>
  <nav class="barra-home">
    <a href="/"><img class="logo" src="/img/logo.png" alt="logo" /></a>
    <div class="links" id="links">
          <a href="">Productos</a>
          <a href="">Descargas</a>
          <a href="">Marcas</a>
          <a href="">Contacto</a>
          <a href="">Ayuda</a>
      </div>
    <div class="search">
      <input type="search" name="search" />
      <button class="btn-search" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <div class="icons-nav">
      <ul class="login-nav">
        <li>
          <a class="ver-productos" href="/products">VER PRODUCTOS</a>
        </li>
        <li>
          <a href="/user/login"><i title="Iniciar Sesión" class="fas fa-user-circle"></i></a>
        </li>
        <li>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i title="Menú" class="fas fa-bars"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<script src="/js/header.js"></script>