<header>
    <nav class="barra-home">
          <img width="185" src="/img/logo.png" alt="logo" />

      <ul class="barra">
          <li> <a href="">Productos</a> </li>
          <li> <a href="">Descargas</a> </li>
          <li> <a href="">Marcas</a> </li>
          <li> <a href="">Contacto</a> </li>
          <li> <a href="">Ayuda</a> </li>
      </ul>

          <ul class="search">
              <div id="barrabusqueda">

                  <div class='linksIzq'>
                      <a href="productCart"><i class="fas fa-shopping-cart"></i><p style="text-align: center"></p></a>
                      <a href="container-register">Registrarse<p style="text-align: center"></p></a>
                      <a href="container-login">Login<p style="text-align: center"></p></a>
                      <a href=""><i class="fas fa-user"></i><p style="text-align: center"></p></a>
                  </div>
                  <input type="search" name="search" />
                  <button type="submit"><i class="fas fa-search"></i></button>
              </div>
          </ul>
      </div>
    </nav>
  </header>